.subscription {
  background-color: $green-logo;
  border-radius: 10px;
  color: white;
  @include padding-4-sides(20px, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__text {
    font-size: x-large;
    width: 370px;
  }
  
  &__input[type=email]{
    font-size: larger;
    @include padding-4-sides(20px, 10px);
    border: none;
  }
}
